* {
  margin      : 0;
  padding     : 0;
  font-family : monospace;
  font-size   : 13px;
}

textarea {
  display : block;
  border  : none;
  outline : none;
  resize  : none;
}

input {
  display : block;
  border  : none;
  outline : none;
  resize  : none;
}

#root {
  display        : flex;
  position       : absolute;
  width          : 100%;
  height         : 100%;
  flex-direction : row;
}

#root * {
  z-index  : 1;
  position : relative;
  height   : 100%;
}

#editor {
  background : ;
  flex-grow  : 1;
  order      : 2;
  color: #ffffff;
  background: #00152d;
}

#floater {
  z-index                   : 2;
  position                  : absolute;
  top                       : 0px;
  right                     : 0px;
  width                     : 15px;
  height                    : 15px;
  float                     : right;
  opacity                   : .5;
  border-bottom-left-radius : 15px;
  background                : #71a4f7;
}

#floater:hover {
  opacity : .8;
}

#bottom {
  z-index    : 2;
  position   : absolute;
  bottom     : 0;
  width      : 100%;
  overflow   : hidden;
  background : #71a4f7;
}

#bottom > div {
  display : none;
  width   : 100%;
  height  : 100%;
}

#bottom > div > * {
  position : relative;
  height   : 100%;
}

#pathDialog {
  display : block;
}

#pathDialogPrefix {
  padding    : 0 4px;
  text-align : right;
  order      : 1;
}

#pathDialogInput {
  padding-right : 4px;
  background    : #9ec3ff;
  flex-grow     : 1;
  order         : 2;
}

/* class names to toggle */

.flex {
  display : flex !important;
}
