<head>
    <link rel="stylesheet" href="css/main.css">
</head>
<body onload="listeners()">
    <div id="root">
        <textarea name="editor" id="editor"></textarea>
        <div id="floater"></div>
    </div>
    <div id="bottom">
        <div id="error">
        </div>
        <div id="pathDialog">
            <span class="prefix" id="pathDialogPrefix"></span>
            <input type="text" id="pathDialogInput"></input>
        </div>
    </div>

    <script type="text/javascript" src="js/root.js"></script>
</body>
